@import "tailwindcss";

@layer base {
  html, body {
    background-color: #09090b;
    color: #f4f4f5;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    -webkit-user-select: none;
  }
}
